
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :host {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }    

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply h-full;
  }
  body {
    @apply bg-background text-foreground h-full;
    @apply text-base; /* Tailwind 유틸리티 클래스를 적용 */
    font-size: 16px;  /* 직접 px 단위로 지정 가능 */
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
  h1, h2, h3, h4, h5, h6 {
    font-size: 16px;
    font-weight: bold;
  }
  .background-gradient {
    background-color: #fff;
    background-image: radial-gradient(
        at 21% 11%,
        rgba(186, 186, 233, 0.53) 0,
        transparent 50%
      ),
      radial-gradient(at 85% 0, hsla(46, 57%, 78%, 0.52) 0, transparent 50%),
      radial-gradient(at 91% 36%, rgba(194, 213, 255, 0.68) 0, transparent 50%),
      radial-gradient(at 8% 40%, rgba(251, 218, 239, 0.46) 0, transparent 50%);
  }
}

.zoomed-image-container {
  position: fixed;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}

/* 1024px 이상의 화면 */
@media (min-width: 1024px) {
  .zoomed-image-container {
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
  }
}

/* 768px ~ 1024px 사이의 화면 */
@media (max-width: 1023px) and (min-width: 768px) {
  .zoomed-image-container {
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
  }
}

/* 768px 이하의 화면 */
@media (max-width: 767px) {
  .zoomed-image-container {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
  }
}

.zoomed-image {
  max-width: 90vw;
  max-height: 90vh;
} 

.custom-markdown ul {
  list-style-type: disc;
  margin-left: 20px;
}

.custom-markdown ol {
  list-style-type: decimal;
  margin-left: 20px;
}

.custom-markdown li {
  margin-bottom: 5px;
  font-size: 15px;
}

.custom-markdown ol ol {
  list-style: lower-alpha;
}

.custom-markdown ul ul,
.custom-markdown ol ol {
  margin-left: 20px;
}

.custom-markdown p {
  font-size: 15px;
}

.custom-markdown a {
  font-size: 15px;
}

.custom-markdown strong {
  font-size: 15px;
}