# The OpenAI API key to use.
OPENAI_API_KEY=
# text_search, similarity
EMBEDDING_MODE=text_search
# text-embedding-ada-002, text-embedding-3-large, text-embedding-3-small
EMBEDDING_MODEL=text-embedding-ada-002
MODEL=gpt-4o-mini

LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_HOST=

CHROMA_INDEX_DIR=../indexing/data/socialbiz_gitbook_io/store
INDEX_COLLECTION_NAME=my_chroma_store
